.thead-col {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.btn-edit {
    color: seashell;
    background-color: #60a6dc;
    border-color: #60a6dc;
}

textarea .invalid {
        color: red;    
}