<div class="contenedor">

    <ngx-loading [show]="cargando"
        [config]="{ backdropBorderRadius: '3px', primaryColour: '#00ff66', secondaryColour: '#ff6600', tertiaryColour: '#6600ff', fullScreenBackdrop: true }">
    </ngx-loading>

    <div class="card">
        <div class="card-header">
            <h5>Busqueda Avanzada</h5>
        </div>
        <div class="card-body">
            <form class="form-group" [formGroup]="filtrarForm">
                <div class="row">
                    <div class="col-6">
                        <label>Numero de pregunta:</label>
                        <input type="text" class="form-control" formControlName="numPregunta"
                            placeholder="Ingrese el numero de pregunta a buscar">
                    </div>
                    <div class="col-6">
                        <label>Enunciado:</label>
                        <input type="text" class="form-control" formControlName="enunciado"
                            placeholder="Ingrese el enunciado a buscar">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" (click)="filter()"
                            [disabled]="!filtrarForm.valid">Buscar</button>
                        &nbsp;
                        <button class="btn btn-secondary" (click)="limpiar()">Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <!-- Tabla del listado -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <h5 class="card-title">Lista de preguntas</h5>
                </div>
                <div class="col-8">
                    <button class="btn btn-primary" routerLink='/vuelos/create'
                        style="float: right; width: 10rem;">Editar preguntas</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-responsive" style="overflow-x: scroll;">
                <caption>Lista de preguntas</caption>
                <thead class="thead-col">
                    <tr>
                        <th scope="col">Numero</th>
                        <th scope="col">Enunciado</th>
                        <th scope="col">Opcion A</th>
                        <th scope="col">Opcion B</th>
                        <th scope="col">Opcion C</th>
                        <th scope="col">Opcion D</th>
                        <th scope="col" style="width: 200px; max-width: max-content;">
                            Imagen</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pregunta of listPregunta">
                        <td>{{ pregunta.idpregunta }}</td>
                        <td>{{ pregunta.enunciado }}</td>
                        <td>{{ pregunta.opciones[0].enunciadoopcion}}</td>
                        <td>{{ pregunta.opciones[1].enunciadoopcion}}</td>
                        <td>{{ pregunta.opciones[2].enunciadoopcion}}</td>
                        <td>{{ pregunta.opciones[3].enunciadoopcion}}</td>
                        <td>
                            <img src="{{ pregunta.urlImg }}" class="rounded img-thumbnail" alt="{{ pregunta.urlImg }}"
                                style="width: 50 px;">
                        <td>
                            <!--<button class="btn btn-edit"><em class="far fa-edit"></em> Editar
                            </button> -->
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-edit" data-toggle="modal"
                                data-target="#editarPregunta" (click)="seleccionarEditar(pregunta)">
                                <em class="far fa-edit"></em> Editar
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="listPregunta.length == 0">
                        <td colspan="8">
                            <p style="text-align: center; font-size: x-large; color: red;">
                                {{"Lista vacia"}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="editarPregunta" tabindex="-1" aria-labelledby="editarPreguntaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarPreguntaLabel">Editar Pregunta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-group" [formGroup]="editarPreguntaForm">
                        <div class="row">
                            <div class="col-12">
                                <label>Numero de pregunta:</label>
                                <input type="text" class="form-control" formControlName="numePregunta" value="{{ seleccionEditar.idpregunta }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Enunciado:</label>
                                <textarea type="text" class="form-control" formControlName="enumPregunta" value="{{ seleccionEditar.enunciado }}"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Opcion A:</label>
                                <input type="text" class="form-control" formControlName="opcionA" value="{{ seleccionEditar.opciones[0].enunciadoopcion }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Opcion B:</label>
                                <input type="text" class="form-control" formControlName="opcionB" value="{{ seleccionEditar.opciones[1].enunciadoopcion }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Opcion C:</label>
                                <input type="text" class="form-control" formControlName="opcionC" value="{{ seleccionEditar.opciones[2].enunciadoopcion }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Opcion D:</label>
                                <input type="text" class="form-control" formControlName="opcionD" value="{{ seleccionEditar.opciones[3].enunciadoopcion }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Imagen:</label>
                                <input type="text" class="form-control" formControlName="urlImg" value="{{ seleccionEditar.urlImg }}">
                                <img src="{{ seleccionEditar.urlImg }}" class="rounded img-thumbnail" alt="{{ seleccionEditar.urlImg }}"
                                style="width: 50 px;">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" [disabled]="!editarPreguntaForm.valid">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>