<div class="contenedor">
    <ngx-loading [show]="cargando"
        [config]="{ backdropBorderRadius: '3px', primaryColour: '#00ff66', secondaryColour: '#ff6600', tertiaryColour: '#6600ff', fullScreenBackdrop: true }">
    </ngx-loading>

    <div class="card">
        <div class="card-header">
            <h5>Busqueda Avanzada</h5>
        </div>
        <div class="card-body">
            <form class="form-group was-validated" [formGroup]="filtrarForm">
                <div class="row">
                    <div class="col-s-12 col-lg-6">
                        <label>Numero de pregunta:</label>
                        <input type="text" class="form-control" formControlName="numPregunta"
                            placeholder="Ingrese el numero de pregunta a buscar" [pattern]="regNumeros">
                        <div class="invalid-feedback">Ingresar solo números de dos digitas hasta el 25 </div>
                    </div>
                    <div class="col-s-12 col-lg-6">
                        <label>Enunciado:</label>
                        <input type="text" class="form-control" formControlName="enunciado"
                            placeholder="Ingrese el enunciado a buscar" [pattern]="regTextoUnaLinea">
                        <div class="invalid-feedback">Ingresar solo números de dos digitas hasta el 25 </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" (click)="filtrar()" [disabled]="!filtrarForm.valid"><em
                                class="fa-solid fa-magnifying-glass"></em> Buscar</button>
                        &nbsp;
                        <button class="btn btn-secondary" (click)="limpiar()"><em class="fa-solid fa-eraser"></em>
                            Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <!-- Tabla del listado -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <h5 class="card-title">Lista de preguntas</h5>
                </div>
                <div class="col-8" style="justify-content: right; align-items: flex-end; display: flex;">
                    <button class="btn btn-secondary" routerLink='/cartilla'><em class="fa-regular fa-newspaper"></em>
                        Cartillas</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" (click)="open(content, 'xl')"><em
                            class="fa fa-plus"></em>
                        Crear pregunta</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-responsive" style="overflow-x: scroll;">
                <caption>Lista de preguntas</caption>
                <thead class="thead-col">
                    <tr>
                        <th scope="col" style="width: fit-content;">Numero</th>
                        <th scope="col">Enunciado</th>
                        <th scope="col" style="width: fit-content;">Opcion A</th>
                        <th scope="col" style="width: fit-content;">Opcion B</th>
                        <th scope="col" style="width: fit-content;">Opcion C</th>
                        <th scope="col" style="width: fit-content;">Opcion D</th>
                        <th scope="col" style="width: 200px;">
                            Imagen</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pregunta of listPregunta">
                        <td>{{ pregunta.idpregunta }}</td>
                        <td>{{ pregunta.enunciado }}</td>
                        <td>{{ pregunta.opciones[0].enunciadoopcion}}
                            <p [ngClass]="{ 'correcto': pregunta.opciones[0].respuesta,
                            'incorrecto': !pregunta.opciones[0].respuesta }">
                                {{ pregunta.opciones[0].respuesta ? 'Opcion Correcta' :
                                'Opcion Incorrecta' }}</p>
                        </td>
                        <td>{{ pregunta.opciones[1].enunciadoopcion}}
                            <p [ngClass]="{ 'correcto': pregunta.opciones[1].respuesta,
                            'incorrecto': !pregunta.opciones[1].respuesta }">
                                {{ pregunta.opciones[1].respuesta ? 'Opcion Correcta' :
                                'Opcion Incorrecta' }}</p>
                        </td>
                        <td>{{ pregunta.opciones[2].enunciadoopcion}}
                            <p [ngClass]="{ 'correcto': pregunta.opciones[2].respuesta,
                            'incorrecto': !pregunta.opciones[2].respuesta }">
                                {{ pregunta.opciones[2].respuesta ? 'Opcion Correcta' :
                                'Opcion Incorrecta' }}</p>
                        </td>
                        <td>{{ pregunta.opciones[3].enunciadoopcion}}
                            <p [ngClass]="{ 'correcto': pregunta.opciones[3].respuesta,
                            'incorrecto': !pregunta.opciones[3].respuesta }">
                                {{ pregunta.opciones[3].respuesta ? 'Opcion Correcta' :
                                'Opcion Incorrecta' }}</p>
                        </td>
                        <td style="width: 896px;">
                            <div *ngIf="pregunta.urlImg != ''"
                                style="text-align: center;">
                                <img src="{{ pregunta.urlImg }}" class="rounded img-thumbnail"
                                    alt="{{ pregunta.urlImg }}" style="width: 100%;">
                            </div>
                        <td>
                            <button type="button" class="btn btn-edit"
                                (click)="seleccionarEditar(pregunta, contentEdit)" style="width: fit-content;">
                                <em class="far fa-edit"></em> Editar
                            </button><br><br />
                            <button type="button" class="btn btn-danger" style="width: fit-content;">
                                <em class="far fa-trash-can"></em> Eliminar
                            </button>
                        </td>

                    </tr>
                    <tr *ngIf="listPregunta.length == 0">
                        <td colspan="8">
                            <p style="text-align: center; font-size: x-large; color: red;">
                                {{"Lista vacia"}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modals -->
    <!-- Modal Crear -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-tittle" id="modal-basic-tittle">Crear Pregunta</h5>
        </div>
        <div class="modal-body">
            <form class="form-group was-validated" [formGroup]="crearPreguntaForm">
                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Enunciado:</label>
                            <span class="contador">{{crearPreguntaForm.controls['enumPregunta'].value.length || 0}}/{{255}}</span>
                        </div>
                        <textarea type="text" class="form-control" formControlName="enumPregunta" required
                            ng-pattern="regTextoUnaLinea"
                            [ngClass]="{'invalid': !crearPreguntaForm.controls['enumPregunta'].valid }"
                            maxlength="255"></textarea>
                        <div class="feedback-invalid" *ngIf="!crearPreguntaForm.controls['enumPregunta'].valid">Por
                            favor no deje el campo vacio, ingrese una pregunta sin espacios al inicio ni al final del
                            texto</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Opcion A:</label>
                            <span class="contador">{{crearPreguntaForm.controls['opcionA'].value.length || 0}}/{{80}}</span>
                        </div>
                        <input type="text" class="form-control" formControlName="opcionA" required
                            [pattern]="regTextoUnaLinea" maxlength="80">
                        <div class="invalid-feedback">Por favor no deje el campo vacio, ingrese una opcion sin espacios
                            al inicio ni al final del texto</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Opcion B:</label>
                            <span class="contador">{{crearPreguntaForm.controls['opcionB'].value.length || 0}}/{{80}}</span>
                        </div>
                        <input type="text" class="form-control" formControlName="opcionB" required
                            [pattern]="regTextoUnaLinea" maxlength="80">
                        <div class="invalid-feedback">Por favor no deje el campo vacio, ingrese una opcion sin espacios
                            al inicio ni al final del texto</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Opcion C:</label>
                            <span class="contador">{{crearPreguntaForm.controls['opcionC'].value.length || 0}}/{{80}}</span>
                        </div>
                        <input type="text" class="form-control" formControlName="opcionC" required
                            [pattern]="regTextoUnaLinea" maxlength="80">
                        <div class="invalid-feedback">Por favor no deje el campo vacio, ingrese una opcion sin espacios
                            al inicio ni al final del texto</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Opcion D:</label>
                            <span class="contador">{{crearPreguntaForm.controls['opcionD'].value.length || 0}}/{{80}}</span>
                        </div>
                        <input type="text" class="form-control" formControlName="opcionD" required
                            [pattern]="regTextoUnaLinea" maxlength="80">
                        <div class="invalid-feedback">Por favor no deje el campo vacio, ingrese una opcion sin espacios
                            al inicio ni al final del texto</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Opcion con la respuesta correcta al enunciado</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <label class="container"> Opcion A Correcta
                            <input type="radio" name="radioOpcionC" checked="{{opcionCheck[0]}}"
                                (change)="seleccionarCheck(0)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-3">
                        <label class="container"> Opcion B Correcta
                            <input type="radio" name="radioOpcionC" checked="{{opcionCheck[1]}}"
                                (change)="seleccionarCheck(1)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-3">
                        <label class="container"> Opcion C Correcta
                            <input type="radio" name="radioOpcionC" checked="{{opcionCheck[2]}}"
                                (change)="seleccionarCheck(2)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-3">
                        <label class="container"> Opcion D Correcta
                            <input type="radio" name="radioOpcionC" checked="{{opcionCheck[3]}}"
                                (change)="seleccionarCheck(3)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="feedback-invalid col-12" *ngIf="!verificarCheck()">
                        Por favor indique que opcion es la respuesta correcta</div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Imagen:</label>
                            <button type="button" class="btn btn-danger" style="margin-bottom: 10px;"
                               (click)="quitarImagen()" *ngIf="imagenPregunta || imagenMin">Quitar Imagen</button>
                        </div>
                        <input type="file" accept=".png, .jpg" class="form-control"
                            (change)="seleccionarImagen($event)" id="input-file-imagen">
                            <label for="input-file-imagen">Seleccione una imagen</label>
                        <br>
                        <div *ngIf="imagenMin != null" style="text-align: center;">
                            <img src="{{ imagenMin }}" class="rounded img-thumbnail"
                            alt="{{ imagenMin }}" style="height: 400px;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="crearPregunta()"
                [disabled]="!crearPreguntaForm.valid || verificarCheck() == false">
                <em class="fa-regular fa-floppy-disk"></em> Guardar</button>
            <button type="button" class="btn btn-danger" (click)="resetearcrearPreguntaForm()">
                <em class="fa-solid fa-ban"></em> Cancelar</button>
        </div>
    </ng-template>

    <!-- Modal Editar -->
    <ng-template #contentEdit let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-tittle" id="modal-basic-tittle">Editar Pregunta</h5>
        </div>
        <div class="modal-body">
            <form class="form-group was-validated" [formGroup]="editarPreguntaForm">
                <div class="row">
                    <div class="col-12">
                        <label>Numero de pregunta:</label>
                        <input type="text" class="form-control" formControlName="numePregunta">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Enunciado:</label>
                            <span
                                class="contador">{{editarPreguntaForm.controls['enumPregunta'].value.length || 0}}/{{255}}</span>
                        </div>
                        <textarea type="text" class="form-control" formControlName="enumPregunta" required
                            ng-pattern="regTextoUnaLinea"
                            [ngClass]="{'invalid': !editarPreguntaForm.controls['enumPregunta'].valid }"
                            maxlength="255"></textarea>
                        <div class="feedback-invalid" *ngIf="!editarPreguntaForm.controls['enumPregunta'].valid">Por
                            favor no deje el campo vacio, ingrese una pregunta sin espacios al inicio ni al final del
                            texto</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Opcion A:</label>
                            <span class="contador">{{editarPreguntaForm.controls['opcionA'].value.length || 0}}/{{80}}</span>
                        </div>
                        <input type="text" class="form-control" formControlName="opcionA" required
                            [pattern]="regTextoUnaLinea" maxlength="80">
                        <div class="invalid-feedback">Por favor no deje el campo vacio, ingrese una opcion sin
                            espacios al inicio ni al final del texto</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Opcion B:</label>
                            <span class="contador">{{editarPreguntaForm.controls['opcionB'].value.length || 0}}/{{80}}</span>
                        </div>
                        <input type="text" class="form-control" formControlName="opcionB" required
                            [pattern]="regTextoUnaLinea" maxlength="80">
                        <div class="invalid-feedback">Por favor no deje el campo vacio, ingrese una opcion sin
                            espacios al inicio ni al final del texto</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Opcion C:</label>
                            <span class="contador">{{editarPreguntaForm.controls['opcionC'].value.length || 0}}/{{80}}</span>
                        </div>
                        <input type="text" class="form-control" formControlName="opcionC" required
                            [pattern]="regTextoUnaLinea" maxlength="80">
                        <div class="invalid-feedback">Por favor no deje el campo vacio, ingrese una opcion sin
                            espacios al inicio ni al final del texto</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Opcion D:</label>
                            <span class="contador">{{editarPreguntaForm.controls['opcionD'].value.length || 0}}/{{80}}</span>
                        </div>
                        <input type="text" class="form-control" formControlName="opcionD" required
                            [pattern]="regTextoUnaLinea" maxlength="80">
                        <div class="invalid-feedback">Por favor no deje el campo vacio, ingrese una opcion sin
                            espacios
                            al inicio ni al final del texto</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Opcion con la respuesta correcta al enunciado</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <label class="container"> Opcion A Correcta
                            <input type="radio" name="radioOpcion" checked="{{opcionCheck[0]}}"
                                (change)="seleccionarCheck(0)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-3">
                        <label class="container"> Opcion B Correcta
                            <input type="radio" name="radioOpcion" checked="{{opcionCheck[1]}}"
                                (change)="seleccionarCheck(1)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-3">
                        <label class="container"> Opcion C Correcta
                            <input type="radio" name="radioOpcion" checked="{{opcionCheck[2]}}"
                                (change)="seleccionarCheck(2)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="col-3">
                        <label class="container"> Opcion D Correcta
                            <input type="radio" name="radioOpcion" checked="{{opcionCheck[3]}}"
                                (change)="seleccionarCheck(3)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="group-label-contador">
                            <label>Imagen:</label>
                            <button type="button" class="btn btn-danger" style="margin-bottom: 10px;"
                               (click)="quitarImagen()" *ngIf="imagenPregunta || imagenMin">Quitar Imagen</button>
                        </div>
                        <input type="file" accept=".png, .jpg" class="form-control"
                            (change)="seleccionarImagen($event)" id="input-file-imagen">
                            <label for="input-file-imagen">Seleccione una imagen</label>
                        <br>
                        <div *ngIf="imagenMin != null" style="text-align: center;">
                            <img src="{{ imagenMin }}" class="rounded img-thumbnail"
                            alt="{{ imagenMin }}" style="height: 400px;">
                        </div>
                        <div *ngIf="imagenMin == null && imagenPregunta != ''"
                            style="text-align: center;">
                            <img src="{{ imagenPregunta }}" class="rounded img-thumbnail"
                                alt="{{ imagenPregunta }}" style="height: 400px;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" [disabled]="!editarPreguntaForm.valid"
                (click)="guardarPregunta()"><em class="fa-regular fa-floppy-disk"></em> Guardar</button>
            <button type="button" class="btn btn-danger" (click)="resetearEditarPreguntaForm()"><em class="fa-solid fa-ban"></em>
                Cancelar</button>
        </div>
    </ng-template>
</div>