<div class="contenedor">
    <ngx-loading [show]="cargando"
        [config]="{ backdropBorderRadius: '3px', primaryColour: '#00ff66', secondaryColour: '#ff6600', tertiaryColour: '#6600ff', fullScreenBackdrop: true }">
    </ngx-loading>

    <div class="card">
        <div class="card-header">
            <h5>Busqueda Avanzada</h5>
        </div>
        <div class="card-body">
            <form class="form-group" [formGroup]="filtrarForm">
                <div class="row">
                    <div class="col-s-12 col-lg-6">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" formControlName="nombre"
                            placeholder="Ingrese el nombre a buscar">
                    </div>
                    <div class="col-s-12 col-lg-6">
                        <label>Fecha de respuesta:</label>
                        <input type="date" class="form-control" formControlName="fechaEntrega"
                            max="{{ fechaActual | date: 'yyyy-MM-dd'}}" onkeydown="return false">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-s-12 col-lg-6">
                        <button class="btn btn-primary" (click)="filtrar()"
                            [disabled]="!filtrarForm.valid">Buscar</button>
                        &nbsp;
                        <button class="btn btn-secondary" (click)="limpiar()">Limpiar</button>&nbsp;
                        <button class="btn btn-info" (click)="borrarFecha()">Borrar fecha</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <!-- Tabla del listado -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <h5 class="card-title">Lista de estudiantes</h5>
                </div>
                <div class="col-8">
                    <button type="button" class="btn btn-primary" data-toggle="modal" style="width: fit-content; float: right;"
                    data-target="#agregarEstudiante">
                    <em class="fa-solid fa-person-circle-plus"></em> Agregar
                </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-responsive" style="overflow-x: scroll;">
                <caption>Lista de estudiantes</caption>
                <thead class="thead-col">
                    <tr>
                        <th scope="col" style="max-width: 40px;">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ultima nota</th>
                        <th scope="col">Fecha ultima nota</th>
                        <th scope="col">Funciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiante of listaEstudiante">
                        <td>{{ estudiante.idusuario }}</td>
                        <td>{{ estudiante.nombre }}</td>
                        <td>{{ estudiante.respuestas[0] ? estudiante.respuestas[0].nota : 'Aun no ha jugado' }}</td>
                        <td>{{ estudiante.respuestas[0] == null ? 'No ha jugado' : estudiante.respuestas[0].fecha | date
                            : 'yyyy-MM-dd' }}</td>
                        <td>
                            <button type="button" class="btn btn-edit" data-toggle="modal" style="width: fit-content;"
                                data-target="#editarEstudiante" (click)="seleccionarEditar(estudiante)">
                                <em class="far fa-edit"></em> Editar
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn-danger" data-toggle="modal" style="width: fit-content;"
                            data-target="#editarEstudiante" (click)="seleccionarEditar(estudiante)">
                            <em class="fas fa-trash-alt"></em> Eliminar
                        </button>
                        </td>
                    </tr>
                    <tr *ngIf="listaEstudiante.length == 0">
                        <td colspan="8">
                            <p style="text-align: center; font-size: x-large; color: red;">
                                {{"Lista vacia"}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

        <!-- Modal agregar -->
        <div class="modal fade" id="agregarEstudiante" tabindex="-1" aria-labelledby="agregarEstudianteLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarEstudianteLabel">Agregar Estudiante</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-group" [formGroup]="editarEstudianteForm">
                        <div class="row">
                            <div class="col-12" hidden>
                                <label>id Estudiante:</label>
                                <input type="text" class="form-control" formControlName="idEstudiante">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Nombre:</label>
                                <input type="text" class="form-control" formControlName="nombre">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary"
                        [disabled]="!editarEstudianteForm.valid">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal editar -->
    <div class="modal fade" id="editarEstudiante" tabindex="-1" aria-labelledby="editarEstudianteLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarEstudianteLabel">Editar Estudiante</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-group" [formGroup]="editarEstudianteForm">
                        <div class="row">
                            <div class="col-12">
                                <label>id Estudiante:</label>
                                <input type="text" class="form-control" formControlName="idEstudiante"
                                    value="{{ seleccionEditar.idusuario }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Nombre:</label>
                                <input type="text" class="form-control" formControlName="nombre"
                                    value="{{ seleccionEditar.nombre }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Respuestas:</label>
                                <select class="form-control" formControlName="respuesta"
                                    (change)="seleccionarRespuesta()">
                                    <option selected value=''>{{ seleccionEditar.respuestas.length == 0 ? 'No hay
                                        respuetas' : 'Seleccione una respuesta' }}</option>
                                    <option *ngFor="let resp of seleccionEditar.respuestas; let i = index"
                                        value="{{ i }}">
                                        Respuesta numero {{ i + 1}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Nota:</label>
                                <input type="text" class="form-control" formControlName="nota"
                                    value="{{ notaRespuesta }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Fecha:</label>
                                <input type="date" class="form-control" formControlName="fecha"
                                    value="{{ fechaRespuesta | date : 'yyyy-MM-dd' }}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary"
                        [disabled]="!editarEstudianteForm.valid">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>