<div class="contenedor">
    <ngx-loading [show]="cargando"
        [config]="{ backdropBorderRadius: '3px', primaryColour: '#00ff66', secondaryColour: '#ff6600', tertiaryColour: '#6600ff', fullScreenBackdrop: true }">
    </ngx-loading>

    <div class="card">
        <div class="card-header">
            <h5>Busqueda Avanzada</h5>
        </div>
        <div class="card-body">
            <form class="form-group" [formGroup]="filtrarForm">
                <div class="row">
                    <div class="col-s-12 col-lg-6">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" formControlName="nombre"
                            placeholder="Ingrese el nombre a buscar">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" (click)="filter()"
                            [disabled]="!filtrarForm.valid">Buscar</button>
                        &nbsp;
                        <button class="btn btn-secondary" (click)="limpiar()">Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <!-- Tabla del listado -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <h5 class="card-title">Lista de estudiantes</h5>
                </div>
                <div class="col-8">
                    <button class="btn btn-primary" routerLink='/estudiante/editar'
                        style="float: right; width: 10rem;">Editar estudiante</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-responsive" style="overflow-x: scroll;">
                <caption>Lista de estudiantes</caption>
                <thead class="thead-col">
                    <tr>
                        <th scope="col" style="width: fit-content;">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ultima nota</th>
                        <th scope="col">Fecha ultima nota</th>
                        <th scope="col">Funciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiante of listaEstudiante">
                        <td>{{ estudiante.idusuario }}</td>
                        <td>{{ estudiante.nombre }}</td>
                        <td>{{ estudiante.respuestas[0] ? estudiante.respuestas[0].nota : 'Aun no ha jugado' }}</td>
                        <td>{{ estudiante.respuestas[0] == null ? 'No ha jugado' : estudiante.respuestas[0].fecha | date : 'yyyy-MM-dd' }}</td>
                        <td>
                            <button type="button" class="btn btn-edit" data-toggle="modal"
                                data-target="#editarestudiante" (click)="seleccionarEditar(estudiante)">
                                <em class="far fa-edit"></em> Editar
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="listaEstudiante.length == 0">
                        <td colspan="8">
                            <p style="text-align: center; font-size: x-large; color: red;">
                                {{"Lista vacia"}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>