.thead-col {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.btn-edit {
    color: seashell;
    background-color: #60a6dc;
    border-color: #60a6dc;
}

.invalid, .feedback {
    color: red;
}

.table {
    display: table;
    border-collapse: collapse;
    width: 100% ;
    min-width: fit-content;
    max-width: 100%;
}

input#date-input{
    display: inline-block;
    position: relative;
}

input#date-input::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: auto;
}