<div class="accordion" id="accordionEditarPregunta">
    <div class="card">
      <div class="card-header" id="preguntaUno">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#tabUno" aria-expanded="true" aria-controls="tabUno">
            Collapsible Group Item #1
          </button>
        </h2>
      </div>
      <div id="tabUno" class="collapse show" aria-labelledby="preguntaUno" data-parent="#accordionEditarPregunta">
        <div class="card-body">
          Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="preguntaDos">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#tabDos" aria-expanded="false" aria-controls="tabDos">
            Collapsible Group Item #2
          </button>
        </h2>
      </div>
      <div id="tabDos" class="collapse" aria-labelledby="preguntaDos" data-parent="#accordionEditarPregunta">
        <div class="card-body">
          Some placeholder content for the second accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header" id="preguntaTres">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#tabTres" aria-expanded="false" aria-controls="tabTres">
            Collapsible Group Item #3
          </button>
        </h2>
      </div>
      <div id="tabTres" class="collapse" aria-labelledby="preguntaTres" data-parent="#accordionEditarPregunta">
        <div class="card-body">
          And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
  </div>