.btn-edit {
    color: seashell;
    background-color: #60a6dc;
    border-color: #60a6dc;
}

.invalid, .feedback {
    color: red;
}

.table {
    display: table;
}

.correcto {
    border: 2px solid #075800;
    background-color: #8ef18557;
}

.incorrecto {
    border: 2px solid #580000;
    background-color: #f1858557;
}