/*
@media(max-width: 575.98px){
    * {
        font-size: large;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    * {
        font-size: medium;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    * {
        font-size: 12px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    * {
        font-size: medium;
    }
 }

@media (min-width: 1200px) {  
    * {
        font-size: large;
    }
}
*/
/* Contenedor principal para dar orden a los modulos */
.contenedor {
    padding-inline-end: 2%;
    padding-inline-start: 2%;
    margin-top: 15px;
    width: 100% !important;
    min-width: fit-content;
    max-width: 100%;
}

/* card que agrupan las diferentes secciones de los modulos*/
.contenedor .card .card-header{
    background-color: rgb(216, 216, 216);
    border: 1;
    border-color: black;
}

/* contenedor especial para la barra de navegación*/
.contenedor-nav {
    width: 100% !important;
    min-width: 100%;
    max-width: 100%;
}

/* proporciona un tamaño minimo a la barra de navegacion */
.contenedor-nav nav{
    min-width: 940px;
}

/* Proporciona untamaño y vista de las tablas */
.table {
    display: table;
    border-collapse: collapse;
    width: 100% !important;
    min-width: fit-content;
    max-width: 100%;
}

/* Proporciona un tamaño fijo para los encabezados de las tablas */
.table thead th {
    width: 200px;
    min-width: 30px;
}
/* Proporciona un tamaño fijo para las celdas de las tablas */
.table tbody td {
    width: fit-content;
    min-width: 100%;
    max-width: min-content;
}
/* Proporciona estilopara los encabezados de las tablas */
.thead-col {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}
/* proporciona un estilo propio a un boton de clase pripia llamado edit */
.contenedor .btn-edit {
    color: whitesmoke;
    background-color: #6581d5;
    border-color: #6581d5;
    max-width: fit-content;
}
/* Porporciona un estilo al input de fecha permite seleccionar
 en cualquier parte del input para ingresar una fecha */
input#date-input{
    display: inline-block;
    position: relative;
}
/* Porporciona un estilo al input de fecha permite seleccionar
 en cualquier parte del input para ingresar una fecha */
input#date-input::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: auto;
}

/* Quita el icono de invalido en los form */
.form-control.is-valid, .was-validated .form-control:valid {
    background-image: none !important;
}

/* .form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none !important;
} */
