/*
@media(max-width: 575.98px){
    * {
        font-size: large;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    * {
        font-size: medium;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    * {
        font-size: 12px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    * {
        font-size: medium;
    }
 }

@media (min-width: 1200px) {  
    * {
        font-size: large;
    }
}
*/
.contenedor {
    padding-inline-end: 2%;
    padding-inline-start: 2%;
    margin-top: 15px;
    width: 100% !important;
    min-width: fit-content;
    max-width: 100%;
}

.contenedor .card .card-header{
    background-color: rgb(216, 216, 216);
    border: 1;
    border-color: black;
}

.contenedor-nav {
    width: 100% !important;
    min-width: 100%;
    max-width: 100%;
}

.contenedor-nav nav{
    min-width: 940px;
}

.table {
    display: table;
    border-collapse: collapse;
    width: 100% !important;
    min-width: fit-content;
    max-width: 100%;
}

.table thead th {
    width: 200px;
    min-width: 30px;
}

.table tbody td {
    width: fit-content;
    min-width: 100%;
    max-width: min-content;
}

.thead-col {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

input#date-input{
    display: inline-block;
    position: relative;
}

input#date-input::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    position: absolute;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: auto;
}
